header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    font-family : 'Playfair Display', serif;
}
img{
    height: 60px;
    width: 60px;
}