        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Inter', sans-serif;
            background-color: #fff;
            color: #1a1a1a;
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px 60px;
        }

        .logo {
            font-family: 'Playfair Display', serif;
            font-size: 2.5rem;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .icon {
            font-size: 1.5rem;
            cursor: pointer;
            padding: 10px;
            border: 1px solid #eee;
            border-radius: 8px;
            color: #ccc;
        }

        main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            flex-grow: 1;
            max-width: 1400px;
            margin: 0 auto;
            width: 100%;
            align-items: center;
        }

        .product-details {
            padding-left: 60px;
            padding-right: 40px;
            max-width: 600px;
        }

        h1 {
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 10px;
        }

        .price {
            font-size: 2.5rem;
            font-weight: 400;
            display: block;
            margin-bottom: 40px;
            color: #333;
        }

        .description {
            font-size: 1.1rem;
            line-height: 1.6;
            color: #555;
            text-align: justify;
        }

        .product-image {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
        }

        .product-image img {
            width: 100%;
            height: auto;
            object-fit: contain;
            transform: scale(1.1) translateX(10%);
        }

        @media (max-width: 768px) {
            main {
                grid-template-columns: 1fr;
                text-align: center;
            }

            header {
                padding: 20px;
            }

            .product-details {
                padding: 20px;
                order: 2;
            }

            .description {
                text-align: left;
            }

            .product-image {
                order: 1;
                height: 300px;
            }

            .product-image img {
                transform: none;
                height: 100%;
                width: 100%;
            }
        }

        a {
            text-decoration: none;
            color: black;
        }