/* Main */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  flex-grow: 1;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

.informations-produit {
  padding-left: 60px;
  padding-right: 40px;
  max-width: 600px;
}

.product-name {
  font-size: 3rem;
}

.product-price {
  font-size: 2.5rem;
  display: block;
  color: #333;
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  text-align: justify;
}

.product-image {
  width: 100%;
  height: 100%;
  display: end;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transform: scale(1.1) translateX(10%);
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    text-align: center;
  }

  header {
    padding: 20px;
  }

  .product-info {
    padding: 20px;
    order: 2;
  }

  .product-description {
    text-align: left;
  }

  .product-image {
    order: 1;
    height: 300px;
  }

  .product-image img {
    transform: none;
    height: 100%;
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: black;
}
.buy-button {
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.buy-button:hover {
  background-color: #ff9f9f;
}
