   /* --- RESET --- */
   body,
   figure,
   h1,
   h3,
   p {
       margin: 0;
       padding: 0;
   }

   body {
       padding: 40px;
       color: #1a1a1a;
   }
   header {
       margin-bottom: 50px;
   }
   /* --- Texte "Jetcourt" (Logo) --- */
   header h1 {
       font-family: 'Playfair Display', serif;
       font-size: 3rem;
   }
   /* --- Texte "Catalogue" --- */
   header h2 {
       font-family: 'Playfair Display', sans-serif;
       font-size: 1.5rem;
       margin-left: 200px;
   }

   /* --- Grille chaussure--- */
   .catalogue {
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       gap: 30px;
       max-width: 1400px;
       margin: 0 auto;
   }
   /* --- Texte hyperlien dans le Catalogue --- */
   .catalogue a {
       text-decoration: none;
       color: black;
   }

   /* --- Bloc Produits --- */
   .product-card {
       cursor: pointer;
       display: flex;
       flex-direction: column;
   }

   /* --- Bloc Images  --- */
   .product-visual {
       width: 100%;
       aspect-ratio: 1 / 1;
       background-color: #f6f6f6;
       border-radius: 12px;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: 15px;
       overflow: hidden;
   }

   .product-visual img {
       width: 100%;
       height: 100%;
       object-fit: contain; /*fait en sorte que l'image s'adapte*/
       padding: 10px;
       transition: transform 0.3s ease;
       /* Animation au survol */
   }

   /* Effet au Survol*/
   .product-card:hover .product-visual img {
       transform: scale(1.05);
   }

   /* --- Nom du produit --- */
   .product-title {
       font-size: 0.95rem;
       font-weight: 700;
       margin-bottom: 5px;
   }
   /* --- Prix du Produit ---*/
   .product-price {
       font-size: 0.9rem;
       color: #555;
       font-weight: 600;
   }

   /* --- Responsive --- */
   @media (max-width: 1024px) {
       .catalogue {
           grid-template-columns: repeat(2, 1fr);
       }
   }

   @media (max-width: 600px) {
       .catalogue {
           grid-template-columns: 1fr;
       }
   }
