html:not([data-theme]),
html[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #24262b;
}

html[data-theme="light"] .bouton-theme {
  background-image: url("../img/soleil.avif");
  filter: contrast(75%) brightness(150%);
  border: 2px solid #000;
}
