body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

a {
    color: black;
    text-decoration: none;
}

header {
    justify-content: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    font-family: ;
}

main {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

    img {
        height: 200px;
    }

}