body {
    background-color: rgb(57, 57, 57);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: black;
    text-decoration: none;
}

header {
    justify-content: center;
}

main {
    justify-content: space-between;
    color: beige;
    display: flex;
    flex-wrap: wrap;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

    img {
        height: 200px;
    }

}