body {
    background-color: #ac9999;
}

head {
    color: beige;
}

section {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div {
    display: flex;
    flex-wrap: wrap;
}