
.titre-secondaire img{
    height: 30px;
    width: 30px;
}
.boite-actualites{
    background-color: rgb(71, 27, 27);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
.actualite{
    background-color: rgb(255, 140, 140);
    border-radius: 8px;
    padding: 15px;
    font-size: 1.2rem;

}
body {
    background-color: #ffb1b1;
}