/* Body */
body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(71, 27, 27);
    color: #ff2e2e;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    font-family : 'Playfair Display', serif;
}

/* Modification du logo du Menu Burger*/
.icon-burger {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #cb6d6d;
    border-radius: 8px;
    color: #ff6767;
}
/* Main */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    flex-grow: 1;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.product-info {
    padding-left: 60px;
    padding-right: 40px;
    max-width: 600px;
}

.product-name {
    font-size: 3rem;
}

.product-price {
    font-size: 2.5rem;
    display: block;
    color:  #ffffff;
}

.description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ffffff;
    text-align: justify;
}

.product-image {
    width: 100%;
    height: 100%;
    display: end;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transform: scale(1.1) translateX(10%);
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        text-align: center;
    }

    header {
        padding: 20px;
    }

    .product-details {
        padding: 20px;
        order: 2;
    }

    .description {
        text-align: left;
    }

    .product-image {
        order: 1;
        height: 300px;
    }

    .product-image img {
        transform: none;
        height: 100%;
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: black;
}
.buy-button {
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.buy-button:hover {
    background-color: #ff9393;
}