
.titre-secondaire img{
    height: 30px;
    width: 30px;
}
.boite-actualites{
    background-color: grey;
    border-radius: 12px;
    padding: 20px;
}
.actualite{
    background-color: rgb(206, 206, 206);
    border-radius: 8px;
    padding: 15px;
    font-size: 1.2rem;
}